

/* Reset some default styles */
*{
    margin: 0;
    padding: 0;
    

}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #131010;
    line-height: 1.6;
    margin: 0;
    padding: 0;

}

header {
    text-align: center;
    background-color: #301432ea;
    color: #fff;
    padding: 20px;
}

section{
    background-color: rgb(37, 30, 30);
    text-align: center;
}

#projects {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

/* logo */
.fb_logo{
    width: 35px;
    border-radius: 50px;
}

/* logo */
.ig_logo{
    width: 35px;
    border-radius: 50px;
}

    /* logo css */
    .chii{
        width: 100px;
        border-radius: 50px;
    }

    /* project css */
    p {
        font-family: Arial;
        margin-top: 0;
        margin-bottom: 0;
      }
      
      .grid {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        column-gap: 20px;
        
      }
      
      .profile {
        width: 250px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        vertical-align: top;
        margin-right: 15px;
        display: inline-grid;
        background-color: #464343;

      }
      

      .profile-picture {
        
        width: 250px;
        height: 250px;
        object-fit: cover;
        margin-bottom: 12px;
         /* logo css 
        cursor: pointer; 
        -webkit-transition-timing-function: ease-in-out; 
        -webkit-transition-duration: 0.3s; 
        -webkit-transition-property: all;
        
        transition-property: width;
        transition-duration: 3s;
        transition-timing-function: linear;
        transition-delay: 1s;
        */
} 

/* logo css 
.profile-picture:hover { 
transform: scale(3); 

}
*/      
      
      .name {
        font-size: 18px;
        font-weight: bold;
        margin-left: 8px;
        margin-bottom: 5px;
        color:#c37cb7;
      }
      
      .mutual-friends-row {
        display: inline-grid;
        grid-template-columns: 35px 1fr;
        align-items: center;
        margin-left: 8px;
        margin-bottom: 10px;
      }

      .description{
        font-size: 14px;
        color: rgb(187, 53, 187);
        
      }

      .details{
        font-size: 15px;
        letter-spacing: 1px;
        color: white;
      }
      
      .add-friend-button {
        background-color: rgb(110, 35, 153);
        color: white;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 4px;
        font-size: 16px;
        margin-bottom: 10px;
        cursor: pointer;

      }

      .add-friend-button:hover{
        opacity: .8;
      }

      .project, h2 {
        margin-bottom: 20px;
        color: white;
        font-family: Nixie One, Arial;
      }

      .project{
        margin-bottom: 50px;
      }